00_data/*.fastq.gz
00_data/*.xlsx
00_data/refdata*
00_data/*.rds
00_data/Gina_HH117_PP_broadAnn.rds

*/script/*.log
*/script/*.err

02_prep_fastq/out/
03_prep_references/out/
05_run_cellranger/out/
!/05_run_cellranger/out/res_*/outs/per_sample_outs/res_*/web_summary.html
05_run_cellranger/out_test/
05_run_cellranger/out_main/
05_run_cellranger/out8/
!/05_run_cellranger/out_main/res_*/outs/per_sample_outs/res_*/web_summary.html
06_seurat_load/out/
07_seurat_QC/out/
08_seurat_QC_filtering/out/

Gina_project.Rproj
.Rproj.user
