00_data/*.fastq.gz
00_data/*.xlsx
00_data/refdata*

*/script/*.log
*/script/*.err

02_prep_fastq/out/
03_prep_references/out/
05_run_cellranger/out/
05_run_cellranger/out_test/
06_load_seurat/out/
07_seurat_roughQC/out/


